@model funfox_App.Models.Class

@{
    ViewData["Title"] = "Add Class";
    Layout = "~/Views/Shared/_admin_Layout.cshtml";
}

<div class="d-flex justify-content-start button-strip">
    <button class="btn button" onclick="window.location.href='@Url.Action("List","AdminClass")'"><i class="fa fa-list icon"></i> List</button>
    @if (!string.IsNullOrEmpty(Context.Session.GetString("Bearer_Tokens")))
    {
        <label class="d-flex justify-content-end align-items-end pe-3">Hello @Html.Raw(Context.Session.GetString("IdentityUsername"))</label>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProgramID" class="control-label"></label>
                <select asp-for="ProgramID" class="form-select" asp-items="ViewBag.programs">
                    <option value="">Choose program</option>
                </select>
                <span asp-validation-for="ProgramID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeLevel" class="control-label"></label>
                <input asp-for="GradeLevel" min="1" max="12" class="form-control" />
                <span asp-validation-for="GradeLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timings" class="control-label"></label>
                <input asp-for="Timings" class="form-control" />
                <span asp-validation-for="Timings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxClassSize" class="control-label"></label>
                <input asp-for="MaxClassSize" class="form-control" />
                <span asp-validation-for="MaxClassSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            @if (ViewBag.Message != null)
            {
                if (ViewBag.IsError == null)
                {
                    <div class="text-success">@Html.Raw(ViewBag.Message)</div>
                }
                else
                {
                    <div class="text-danger">@Html.Raw(ViewBag.Message)</div>
                }
            }
        </div>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="Class">Back to Home</a>
</div>

