@model funfox_App.Models.Program

@{
    ViewData["Title"] = "Add Program";
    Layout = "~/Views/Shared/_admin_Layout.cshtml";
}

<div class="d-flex justify-content-start button-strip">
    <button class="btn button" onclick="window.location.href='@Url.Action("List","AdminProgram")'"><i class="fa fa-list icon"></i> List</button>
    @if (!string.IsNullOrEmpty(Context.Session.GetString("Bearer_Tokens")))
    {
        <label class="d-flex justify-content-end align-items-end pe-3">Hello @Html.Raw(Context.Session.GetString("IdentityUsername"))</label>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProgramName" class="control-label"></label>
                <input asp-for="ProgramName" class="form-control" />
                <span asp-validation-for="ProgramName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div class="form-group">
            @if (ViewBag.Message != null)
            {
                if (ViewBag.IsError == null)
                {
                    <div class="text-success">@Html.Raw(ViewBag.Message)</div>
                }
                else
                {
                    <div class="text-danger">@Html.Raw(ViewBag.Message)</div>
                }
            }
        </div>
    </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="Program">Back to Home</a>
</div>

